* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  font-size: 62.5%;
}

.header {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2rem;
  letter-spacing: 1rem;
}

.header:first-child {
  font-size: 3.2rem;
}

main {
  max-width: 90%;
  margin: 1.2rem auto;
}

.task {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.priority {
  padding: 0.3rem 1.2rem;
  border-radius: 100vw;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.high-priority {
  background-color: red;
}
.medium-priority {
  background-color: #ffff00;
}
.low-priority {
  background-color: #90ee90;
}

.task-title {
  font-size: 1.2rem;
  font-weight: 500;
}
.task-description {
  line-height: 1.2;
  color: #444;
}

.task-completed {
  color: #777;
  text-decoration: line-through;
}
